aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-devtools==1.1.2
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
asttokens==2.4.1
asyncpg==0.30.0
attrs==25.3.0
blinker==1.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
devtools==0.12.2
dnspython==2.7.0
email_validator==2.2.0
executing==2.2.0
Flask==3.1.1
frozenlist==1.7.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jsonify==0.5
MarkupSafe==3.0.2
multidict==6.6.3
propcache==0.3.2
psycopg2==2.9.10
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
python-dotenv==1.1.1
requests==2.32.4
six==1.17.0
sniffio==1.3.1
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
watchfiles==1.1.0
Werkzeug==3.1.3
yarl==1.20.1
